{% extends 'shop/basic.html' %}
{% block title %}
About Us
{% endblock %}
{% block body%}
<div class="container">
    <h3 class="my-4">About Us</h3>
    <div class="row my-4">
        <p>
            Amazon was founded by Jeff Bezos on July 5, 1994, in Bellevue, Washington. 
            The company initially started as an online marketplace for books but later
            expanded to sell electronics, software, video games, apparel, furniture, 
            food, toys, and jewelry. In 2015, Amazon surpassed Walmart as the most 
            valuable retailer in the United States by market capitalization.[17] 
            In 2017, Amazon acquired Whole Foods Market for $13.4 billion, which 
            vastly increased Amazon's presence as a brick-and-mortar retailer.[18] 
            In 2018, Bezos announced that its two-day delivery service, Amazon Prime,
             had surpassed 100 million subscribers worldwide.[19][20]
             Amazon distributes downloads and streaming of video, music, audiobook
              through its Amazon Prime Video, Amazon Music, and Audible subsidiaries.
               Amazon also has a publishing arm, Amazon Publishing, a film and television
                studio, Amazon Studios, and a cloud computing subsidiary, Amazon Web Services.
                 It produces consumer electronics including Kindle e-readers, Fire tablets,
                  Fire TV, and Echo devices. In addition, Amazon subsidiaries include Ring, 
                  Twitch.tv, Whole Foods Market, and IMDb. Among various controversies, 
                  the company has been criticized for technological surveillance overreach,[21] 
                  a hyper-competitive a
              work culture,[22] tax avoidance,[23] and anti-competitive practices
            </p>
     </div>
</div>
{% endblock %}